<a href="https://colab.research.google.com/github/nehajadhav2302/data_analytics/blob/main/Module4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Types and Structures Questions

**1. What are data structures, and why are they important?**

->

A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently.

**Why Are Data Structures Important?**
1. **Efficient Data Management**: They allow you to store and organize data in a way that is easy to access and modify.

2. **Performance**: The right data structure can drastically improve the speed and memory usage of your program.

3. **Problem Solving**: Many algorithms rely on specific data structures (like queues, stacks, trees) to work efficiently.

4. **Clean Code**: Proper use of data structures leads to readable and maintainable code.

**2.  Explain the difference between mutable and immutable data types with examples.**

->

*   **Mutable**
1.   Mutable data types can be altered in place without changing their identity.
2.   For example, lists and dictionaries are mutable—elements can be added, removed, or updated without creating a new object.


*   **Immutable**
1.   Immutable data types cannot be changed once they are created.This means that any modification to an immutable object results in a new object being created.
2.   Common immutable types include integers, floats, strings, and tuples.

In [1]:
# Mutable
a=["apple","mango","grapes"]
a[0]="banana"
a

['banana', 'mango', 'grapes']

In [2]:
#Immutable
s1="Python"
s1[2]='g'

TypeError: 'str' object does not support item assignment

**3. What are the main differences between lists and tuples in Python?**

->

*   **List**


1.   Lists are mutable.
2.   Lists are better for performing operations, such as insertion and deletion.
3. Uses square brackets [ ].

*   **Tuple**


1.   Tuples are immutable
2.   Tuples are more suitable for accessing elements efficiently.
3. Uses parentheses ( ).

**4.  Describe how dictionaries store data.**

->

Dictionaries store data as key-value pairs, allowing fast access, insertion, and deletion of values based on unique keys. Internally, dictionaries are implemented using a hash table, which enables efficient lookups.

**5. Why might you use a set instead of a list in Python?**

->


1.   Sets automatically remove duplicates.
2.   Checking if an item exists in a set is much faster than in a list.
3. Sets support powerful operations like:
 * Union
 * Intersection
 * Difference
 * Symmetric difference

**6. What is a string in Python, and how is it different from a list?**

->

* A string is a sequence of characters used to represent text. It is defined using single quotes ('hello'), double quotes ("hello"), or triple quotes for multi-line text ('''hello''' or """hello""").
* Strings are **immutable**, meaning once they are created, their contents cannot be changed—any modification creates a new string.
* Lists, on the other hand, are **mutable**, allowing changes like adding, removing, or updating elements without creating a new list.

**7. How do tuples ensure data integrity in Python?**

->

Tuples ensure data integrity in Python primarily through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability means that the data stored in a tuple remains constant and secure, which is especially useful when you want to protect data from accidental modification.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

->

* A hash table is a data structure that stores key-value pairs and allows for fast access, insertion, and deletion based on keys.
* It works by using a hash function to convert each key into a unique hash value (an integer), which determines where the associated value is stored in memory.In Python, the built-in dict (dictionary) type is implemented using a hash table behind the scenes.
* In Python, dictionaries are implemented using a hash table, which means that dictionaries rely on the principles of hash tables for storing and retrieving key-value pairs efficiently.

**9.  Can lists contain different data types in Python?**

->

Yes, lists in Python can contain different data types. Unlike other data structures in some programming languages that enforce uniformity in the types of elements, Python lists are heterogeneous, meaning they can hold elements of any type—integers, strings, floats, other lists, dictionaries, and even custom objects.

**10. Explain why strings are immutable in Python.**

->
* **String interning**: Python optimizes memory usage by reusing identical string objects in memory. When you create a string, Python may store it in an internal table called a string pool (interning). This avoids duplication of identical string objects, which improves memory efficiency.

* **Preventing unintended changes**: Immutability guarantees that the value of a string cannot be altered after it's created. This is important for security. For example, when you use strings for things like passwords, file paths, or URLs, you want to make sure they can't be accidentally or maliciously changed during processing.

* **Efficiency in Memory Management**:
Since strings are immutable, Python can allocate memory more efficiently. Python doesn't need to track changes to string objects because their values are fixed once created. This makes certain operations like string comparisons and hashing (for use in dictionaries or sets) much faster and more predictable.

**11. What advantages do dictionaries offer over lists for certain tasks?**

->

Dictionaries offer several key advantages over lists for certain tasks, primarily due to their key-value pairing, efficient lookups, and flexibility in handling data. Here are some of the main reasons you might choose a dictionary over a list in specific scenarios:

1. **Fast Lookups by Key**
 * Dictionaries are implemented using hash tables, which allow for constant-time lookups (average O(1) time complexity). This means you can quickly access values based on keys, regardless of the size of the dictionary.

 * In contrast, lists require linear time (O(n)) to find an element, as it has to check each element in sequence to match the one you're looking for.

2. **Handling Unordered Data with Unique Keys**
 * Dictionaries store unique keys, which means each key can only appear once. This prevents duplicates and is ideal when you need to map a specific unique key to a value (e.g., a person's ID to their information).

 * Lists, on the other hand, allow duplicate values and don't associate each element with a specific key, which can be limiting when you need a clear and unique mapping.

3. **Efficient Insertion and Deletion by Key**
 * Dictionaries provide efficient insertions and deletions based on keys, typically with O(1) complexity.

 * With lists, inserting or deleting elements requires shifting elements around, resulting in O(n) time complexity in the worst case (e.g., when adding/removing elements at the beginning or middle of the list).

**12.  Describe a scenario where using a tuple would be preferable over a list.**

->

Suppose you have a program that handles schedules, and you need to store the day of the week. The days of the week are fixed and unchanging—once set, they should not be modified.

In this case, using a tuple is preferable because:

* The data is immutable—the day of the week will never change once assigned, so using a tuple ensures that it remains constant.

* Using a tuple reduces the risk of accidentally altering the data later in the program.

* It’s more memory-efficient and faster for simple, fixed data like days of the week.

**13. How do sets handle duplicate values in Python?**

->

In Python, sets automatically handle duplicate values by removing them. A set is an unordered collection that only allows unique elements. If you try to add a duplicate value to a set, it will simply ignore the duplicate and maintain only the first occurrence of the element.

**14. How does the “in” keyword work differently for lists and dictionaries?**

->

1. **Using in with Lists**
 * When you use the in keyword with a list, it checks for membership by value. In other words, it checks if an element is present in the list.

 * The in operator will return True if the specified value exists anywhere in the list, and False otherwise.

 2. **Using in with Dictionaries**
 * When you use the in keyword with a dictionary, it checks for membership by key, not by value.

 * The in operator checks if a given key exists in the dictionary, not the value associated with that key.

**15. Can you modify the elements of a tuple? Explain why or why not.**

->

No, you cannot modify the elements of a tuple in Python once it is created. This is because tuples are immutable. Immutability means that after a tuple is created, its elements cannot be changed, added, or removed.

**16. What is a nested dictionary, and give an example of its use case?**

->

A nested dictionary in Python is a dictionary that contains other dictionaries as its values. In other words, it is a dictionary of dictionaries, where each value can itself be another dictionary, allowing you to represent more complex hierarchical data structures.

In [29]:
#Example
stud={ "student_1": {
         "name": "Alice",
          "age": 15,
          "subjects": {
            "Math": 90,
            "English": 85,
            "Science": 92
          }
      }
    }

print(stud["student_1"]["name"])

Alice

**17.  Describe the time complexity of accessing elements in a dictionary.**

->

The time complexity of accessing elements in a dictionary in Python is on average O(1) — also known as constant time. It directly accesses that index to retrieve the value.

**18. In what situations are lists preferred over dictionaries?**

->

Lists are preferred over dictionaries in Python when:
1. If you need to preserve the sequence in which items are added, a list is ideal.
2. Use lists when you need to access items by their position (index) rather than by a named key.
3. If your data doesn't need descriptive keys and can just be a series of values, a list is simpler.
4. Lists allow duplicate elements, while dictionaries do not allow duplicate keys.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

->

Dictionaries in Python were originally considered unordered because they stored data based on hash values of keys, not on the order in which items were added. This meant that:

 * The items could appear in any order when you iterated through the dictionary.

 * The internal structure prioritized fast access over maintaining order.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

->


1.   **List**
* Lists store data in a sequential order.

* You access elements using integer indexes starting from 0.

* Data is retrieved by position.

2.   **Dictionary**
* Dictionaries store data as key-value pairs.

* You access elements using unique keys (usually strings or numbers).

* Data is retrieved by key, not by position.

## Practical Questions

**1. Write a code to create a string with your name and print it.**

In [30]:
name="Neha"
print(name)

Neha

**2. Write a code to find the length of the string "Hello World".**

In [31]:
len("Hello World")

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [32]:
s="Python Programming"
print(s[:3])

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

In [33]:
string1="hello"
string1.upper()

'HELLO'

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [34]:
string2="I like apple"
string2.replace("apple","orange")

'I like orange'

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [35]:
lst1=[]
for i in range(1,6):
  lst1.append(i)
print(lst1)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [36]:
lst2=[1,2,3,4]
lst2.append(10)
print(lst2)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [37]:
lst1.remove(5)
lst1

[1, 2, 3, 4]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [38]:
lst3=['a','b','c','d']
lst3[1]

'b'

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [39]:
lst4=[10,20,30,40,50]
print(lst4[::-1])

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [40]:
tup1=(100,200,300)
tup1

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [41]:
tup2=('red','green','blue','yellow')
tup2[-2]

'blue'

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [42]:
tup3=(10,20,5,15)
print(min(tup3))

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [43]:
tup4=('dog','cat','rabbit')
tup4.index('cat')

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [44]:
tup5=('apple','mango','grapes','kiwi')
'kiwi' in tup5

True

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [45]:
set1={'a','b','c'}
print(set1)

{'b', 'a', 'c'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [46]:
set2={1,2,3,4,5}
set2.clear()
set2

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [47]:
set3={1,2,3,4}
set3.remove(4)
set3

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [48]:
set4={1,2,3}
set5={3,4,5}
set4.union(set5)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [49]:
set6={1,2,3}
set7={2,3,4}
set6.intersection(set7)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [50]:
dict1={"name":"Neha", "age":22, "city":"Pune"}
dict1

{'name': 'Neha', 'age': 22, 'city': 'Pune'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [51]:
dict2={"name":"John", "age":25}
dict2["country"]="USA"
dict2

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [52]:
dict3={"name":"Alice","Age":30}
dict3["name"]

'Alice'

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [53]:
dict4={"name":"Bob","age":22,"city":"New York"}
del dict4["age"]
dict4

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [54]:
dict5={"name":"Alice","city":"Paris"}
"city" in dict5

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [55]:
lst5=[1,2,3,2.3,"Neha"]
tup6=("apple","mango","grapes")
dict6={"name":"Neha", "age":22, "City":"Pune"}
print(lst5)
print(tup6)
print(dict6)

[1, 2, 3, 2.3, 'Neha']
('apple', 'mango', 'grapes')
{'name': 'Neha', 'age': 22, 'City': 'Pune'}

**27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [56]:
import random
lst6=[random.randint(1,100) for _ in range(5)]
print(lst6)
sorted(lst6)

[85, 23, 27, 39, 32]

[23, 27, 32, 39, 85]

**28.  Write a code to create a list with strings and print the element at the third index.**

In [57]:
lst7=["C","C++","Python","Java","R"]
lst7[2]

'Python'

**29.  Write a code to combine two dictionaries into one and print the result.**

In [58]:
dict7={'x':3 , 'y' :6 , 'z':1}
dict8={'a': 8 , 'b':10}
dict8.update(dict7)
dict8

{'a': 8, 'b': 10, 'x': 3, 'y': 6, 'z': 1}

**30. Write a code to convert a list of strings into a set.**

In [59]:
print(lst7)
print(type(lst7))
set8=set(lst7)
print(set8)
print(type(set8))

['C', 'C++', 'Python', 'Java', 'R']
<class 'list'>
{'Python', 'R', 'C', 'C++', 'Java'}
<class 'set'>